* {
  font-family: Arial, sans-serif;
}

.invite-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input {
  border: 2px solid #f58025;
  border-radius: 5px;
  height: 40px !important;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.invite-button {
  background-color: #f58025;
  border: none;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.invite-button:hover {
  background-color: #d3690d;
}

.feedback-message {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  min-width: 277px;
  max-width: 400px;
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 3s;
}

.feedback-message.success {
  background-color: #28a745;
}

.feedback-message.invalid,
.feedback-message.already-invited {
  color: #fff;
  background-color: #dc3545;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.invited-emails-container {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.invited-emails-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.invited-emails-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.invited-emails-container li {
  font-size: 16px;
}
