.Wrapper {
  text-align: center;
  margin-top: 90px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  margin-top: 50px;
  border-radius: 20px;
}
.login-form{
  width: 100%;
}
@media screen and (min-width: 100px) {
  .auth-form-container {
    padding: 2rem 4rem 1rem 4rem ;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.semiBold {
  font-weight: 600 !important;
}

input {
  margin: 0.5rem 0 ;
  padding: 1rem;
  border: 1px solid #8f8c8a;
  border-radius: 10px;
}

.link-btn {
  background: none;
  color: #fd9309;
  text-decoration: underline;
  margin: 20px 50px 10px 50px;
}

.error-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 350px;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.9rem;
  animation: shake 0.3s ease-in-out;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}


input:invalid[focused="true"] ~ .spanError{
  display: block;
}


